
.head {
    margin-bottom: 49px;
}.news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

 }
.hide-news-btn{
    padding: 20px 40px;
    background: #17333e;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 50px;
    border: 1px solid transparent;
}

.hide-news-btn:hover{ box-shadow: 0 0 10px #3862cb;
    border: 1px solid #3862cb;
}
.top-button{
    padding: 20px 40px;
    background: #4cabc4;
display: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid transparent;
}
.top-button:hover{
    box-shadow: 0 0 10px #3862cb;
    border: 1px solid #3862cb;
}

.container {
    width: 1170px;
    margin: 0 auto;
    font-family: sans-serif;

}
.menu-main{
display: flex;
    justify-content: center;
    margin: 80px 0 ;

    }

.items-menu-main{
    display: inline-block;
}

.link-menu-main{
    border: 1px solid transparent;
text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 40px;
    background:#18B4CF;
    color: white;
}
.link-menu-main:hover{
    box-shadow: 0 0 10px royalblue;
    border: 1px solid royalblue;
}
.head-list {
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.img-logo {
    padding: 35px 40px;
}

.logo {

    font-size: 22px;
    color: white;
    font-weight: bold;


}

.items-navigation {
    display: inline-block;
}

.link-navigation {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 35px;
}

.link-navigation:hover {
    color: #14B9D5;
}

.img-search {
    padding: 40px 39px;
    background: black;
    display: flex;
    align-items: center;
}

.block-logo {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.header-bottom {
    height: 369px;
    background: url("./img/header-bg.jpeg") center center fixed;

    background-size: 100%;
}

.bg-fon {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 369px;
}

h1 {
    font-size: 27px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 164px 0 44px;
}

.link-form, .link-gallery {
    display: inline-block;

}

.link-form {
    background: #89CA62;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 16px 19px;
    margin-right: 20px;
}

.link-gallery {
    background: #14B9D5;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 16px 19px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;

}

.objects {
    font-size: 18pX;
    display: inline-block;
    font-weight: bold;
    padding: 22px 0;

}

.gallery-posts {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 860px;
    align-content: space-between;


}

.block-cards {
    display: flex;

    flex-direction: column;
    align-items: center;
 margin-bottom: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
}

.title-main {

    text-align: center;
    margin-bottom: 50px;
    font-size: 27px;
    font-weight: 700;
    color: #18B4CF;
}


.popular-clients {
    height: 588px;
    width: 100%;
    background-size: 100%;
    background: url("./img/parallax-bg.jpeg") center center fixed;
}

.head-popular-clients {

    text-transform: uppercase;
    color: white;
    font-size: 32px;
    font-weight: 700;

    grid-column: 2/6;
    grid-row: 2/3;
}

.blue-line {
    grid-column: 2/6;
    grid-row: 3/4;
    width: 60px;

    border-top: 4px solid #18B4CF;

}

.logo-clients-one {
    grid-column: 2/3;
    grid-row: 4/4;
}

.logo-clients-two {
    grid-column: 3/4;
    grid-row: 4/4;
}

.logo-clients-three {
    grid-column: 4/5;
    grid-row: 4/4;
}

.logo-clients-four {
    grid-column: 5/6;
    grid-row: 4/4;
}


.head-logo-grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    grid-gap: 50px;
    height: 100%;


}

.head-top-rated {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18B4CF;
    text-align: center;
    margin: 50px 0 50px;
}

.rated-gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.header-news {display: inline-block;
    text-transform: uppercase;
    font-size: 27px;
    color: #18B4CF;
    margin: 50px 0 50px;
    font-weight: bold;
}

.news-img {
    width: 100%;
}

.background-news {
    background: #F9F7F7;
}
.btn-news-text{
    display: none;
}
.hot-news {

    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:0.5fr 1fr 1fr 0.5fr;
    grid-gap: 40px;
    grid-template-areas: "item1 item1 item1 item2"
"item3 item3 item4 item4"
"item5 item5 item6 item6"
"item7 item8 item8 item8 ";
}


.news-block-one {

    grid-area: item1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}

.news-block-two {
    text-align: center;
    grid-area: item2;
}

.news-block-three {
    text-align: right;

    grid-area: item3;
}

.news-block-four {
    grid-area: item4;
    text-align: right;
}

.news-block-five {
    grid-area: item5;
    text-align: right;
}

.news-block-sex {
    grid-area: item6;
    text-align: right;
}

.news-block-seven {
    grid-area: item7;
    text-align: center;
}

.news-block-eight {
    grid-area: item8;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-block {
    font-size: 14px;
    padding: 10px;
}

.img-text-block {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    margin-top: 70px;
    background: #000000;
    display: grid;

    grid-template-columns: 1fr 3fr 1fr  1fr 1fr;
    justify-items: left;
    align-items: center;


}

.block-img-footer {
    padding: 35px 40px;
    grid-column: 4/5;
    display: flex;
    align-items: center;
    justify-items: start;

}

.block-footer {
    display: inline-block;
}

.logo-footer {
    display: inline-block;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.copyright {
    color: white;
    grid-column: 2/3;
}
